<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/base}">
<head>
    <title th:text="${titulo}">Hola Spring!</title>
</head>
<body>
<div layout:fragment="page_content" id="page_content">
    <h1 th:text="${titulo}">Hola</h1>
</div>
</body>
</html>
